<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="maths" class="com.spring.di.MathStudent"/>
<bean id="student" class="com.spring.di.Student">
<property name="math" ref="maths">

</property>
</bean>
<bean id="abc" class="com.spring.di.AnotherStudent">
<property name="mathstudent" ref="maths">

</property>
</bean>



</beans>